---
site_name: GitHub Repository Address Book Lambda

repo_url: https://github.com/ONS-Innovation/keh-address-book-lambda
repo_name: keh-address-book-lambda

nav:
  - Home: "index.md"
  - FAQ: "faq.md"
  - Technical Documentation:
      - Overview: "technical_documentation/overview.md"
      - The Process: "technical_documentation/the_process.md"
      - Logging: "technical_documentation/logging.md"
      - Source Code:
          - Lambda Handler: "technical_documentation/api_lambda_function.md"
          - GitHub Services: "technical_documentation/api_github_services.md"
          - S3 Writer: "technical_documentation/api_s3writer.md"
          - Logger: "technical_documentation/api_logger.md"
      - Documentation: "documentation.md"

theme:
  name: material
  language: en

  palette:
    # toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: white
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to system preference

  features:
    - navigation.tracking
    - navigation.sections
    - navigation.path
    - navigation.top
    - navigation.footer

    - search.suggest

    - header.autohide
    - content.code.copy

  # logo: assets/logo.png
  # favicon: assets/favicon.ico

  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths:
            - src
